Repository functionland/fx-files, pull requests merged in 2022-11, with the labels that each got.

#468 Fix app name on WinUI's title bar ab#629
  src/Client/App/MainPage.xaml.cs
  src/Client/App/MauiProgram.cs
Labels: platform/windows 🪟

#470 Save current artifact state in runtime ab#629
  src/Client/Shared/Components/Common/ViewModeEnum.cs
  src/Client/Shared/Components/FileBrowser/FileBrowser.razor.cs
  src/Client/Shared/Extensions/IServiceCollectionExtensions.cs
  src/Client/Shared/Pages/MyDevicePage/MyDevicePage.razor
  src/Client/Shared/Pages/MyDevicePage/MyDevicePage.razor.cs
  src/Client/Shared/Pages/_Settings/SettingsPage/SettingsPage.razor.cs
  src/Client/Shared/Services/Contracts/IAppStateStore.cs
  src/Client/Shared/Services/Implementations/InMemoryAppStateStore.cs
Labels: enhancement

#471 Add animation ab#793
  src/Client/Shared/Components/ArtifactExplorer/ArtifactExplorer.razor.scss
  src/Client/Shared/Components/DesignSystem/FxButton.razor.scss
  src/Client/Shared/Components/DesignSystem/FxLink.razor
  src/Client/Shared/Components/DesignSystem/FxLink.razor.scss
  src/Client/Shared/Components/DesignSystem/FxToast.razor.scss
Labels: area/animation 🎬

#484 Fix WindowResize console errors ab#1088
  src/Client/Shared/Components/ArtifactExplorer/ArtifactExplorer.razor.cs
  src/Client/Shared/wwwroot/scripts/windowSize.js
Labels: enhancement, area/perf 🏎️

#493 UI performance improvement ab#1088
  src/Client/Shared/Components/ArtifactExplorer/ArtifactExplorer.razor
  src/Client/Shared/Components/ArtifactExplorer/ArtifactExplorer.razor.cs
  src/Client/Shared/Components/ArtifactExplorer/ArtifactExplorer.razor.scss
  src/Client/Shared/Components/FileBrowser/FileBrowser.razor
  src/Client/Shared/Components/FileBrowser/FileBrowser.razor.cs
Labels: enhancement, area/perf 🏎️

#506 Fix hiding video header and footer issue ab#629
  src/Client/App/Views/NativeVideoViewer.xaml
Labels: platform/android 🤖, area/VideoViewer 📺

#507 [Android] Fix VideoViewer Issues ab#629
  src/Client/App/Views/NativeVideoViewer.xaml
  src/Client/App/Views/NativeVideoViewer.xaml.cs
  src/Client/CommunityToolkit.Maui.MediaElement/Interfaces/IMediaElement.cs
  src/Client/CommunityToolkit.Maui.MediaElement/MediaElement.shared.cs
  src/Client/CommunityToolkit.Maui.MediaElement/PlatformView/MediaManager.macios.cs
Labels: enhancement, platform/android 🤖, area/VideoViewer 📺

#508 Fix Android's back button in the About page ab#629
  src/Client/Shared/Pages/_Settings/SettingAboutPage/SettingAbout.razor.cs
Labels: platform/android 🤖

#520 Fix Android's Picture-In-Picture aspect ratio ab#629
  src/Client/App/Views/NativeVideoViewer.xaml
  src/Client/App/Views/NativeVideoViewer.xaml.cs
Labels: enhancement, platform/android 🤖, area/VideoViewer 📺

#515 Fix show keyboard input when option click ab#629
  src/Client/Shared/Components/ArtifactExplorer/ArtifactExplorer.razor.cs
  src/Client/Shared/Components/FileBrowser/FileBrowser.razor
  src/Client/Shared/Components/FileBrowser/FileBrowser.razor.cs
  src/Client/Shared/Components/FileBrowser/FileBrowser.razor.scss
  src/Client/Shared/Components/Modal/ArtifactDetailModal/ArtifactDetailModal.razor.cs
  src/Client/Shared/Components/Modal/ArtifactOverflowModal/ArtifactOverflowModal.razor.cs
  src/Client/Shared/Components/Modal/FileViewerModal/ExtractorBottomSheet.razor.cs
  src/Client/Shared/Components/Modal/FileViewerModal/ZipViewer.razor.cs
  src/Client/Shared/Services/Implementations/ZipService.cs
  src/Client/Shared/wwwroot/scripts/backToTop.js
Labels: enhancement

#528 Add ShowInLocation option in deep search's overflow modal ab#629
  src/Client/Shared/Components/FileBrowser/FileBrowser.razor.cs
  src/Client/Shared/Components/Modal/ArtifactOverflowModal/ArtifactOverflowModal.razor
  src/Client/Shared/Components/Modal/ArtifactOverflowModal/ArtifactOverflowModal.razor.cs
  src/Client/Shared/Components/Modal/ArtifactOverflowModal/ArtifactOverflowModal.razor.scss
  src/Client/Shared/Components/Modal/ArtifactOverflowModal/ArtifactOverflowResultType.cs
Labels: bug, enhancement, area/modal

#530 Remove successful toast from skip operiation ab#629
  src/Client/Shared/Components/FileBrowser/FileBrowser.razor.cs
Labels: enhancement, area/modal

#543 Fix windowResize console errors ab#347
  src/Client/Shared/Components/ArtifactExplorer/ArtifactExplorer.razor.cs
  src/Client/Shared/wwwroot/scripts/windowSize.js
Labels: enhancement, area/desktop 🖥️

#579 Fix Pin bugs ab#888
  src/Client/Shared/Components/FileBrowser/FileBrowser.razor
  src/Client/Shared/Components/FileBrowser/FileBrowser.razor.cs
  src/Client/Shared/Components/FileBrowser/FileBrowser.razor.scss
  src/Client/Shared/Components/Modal/FileViewerModal/ImageViewer.razor
  src/Client/Shared/Components/Modal/FileViewerModal/ImageViewer.razor.cs
  src/Client/Shared/Components/Modal/FileViewerModal/ImageViewer.razor.scss
  src/Client/Shared/Resources/AppStrings.Designer.cs
  src/Client/Shared/Resources/AppStrings.resx
Labels: enhancement, area/modal, area/pin, area/DeepSearch

#587 Replace MCT MediaElement with Video control ab#1409
  src/Client/App/Controls/FileVideoSource.cs
  src/Client/App/Controls/IVideoController.cs
  src/Client/App/Controls/PositionSlider.cs
  src/Client/App/Controls/ResourceVideoSource.cs
  src/Client/App/Controls/UriVideoSource.cs
  src/Client/App/Controls/Video.cs
  src/Client/App/Controls/VideoInfo.cs
  src/Client/App/Controls/VideoPositionEventArgs.cs
  src/Client/App/Controls/VideoSource.cs
  src/Client/App/Controls/VideoSourceConverter.cs
  src/Client/App/Controls/VideoStatus.cs
  src/Client/App/Functionland.FxFiles.Client.App.csproj
  src/Client/App/Handlers/VideoHandler.Android.cs
  src/Client/App/Handlers/VideoHandler.MaciOS.cs
  src/Client/App/Handlers/VideoHandler.Windows.cs
  src/Client/App/Handlers/VideoHandler.cs
  src/Client/App/Implementations/NativeNavigation.cs
  src/Client/App/MainPage.xaml.cs
  src/Client/App/MauiProgram.cs
  src/Client/App/Platforms/Android/Implementations/MauiVideoPlayer.cs
  src/Client/App/Platforms/MacCatalyst/Implementations/MauiVideoPlayer.cs
  src/Client/App/Platforms/Windows/Implementations/MauiVideoPlayer.cs
  src/Client/App/Platforms/iOS/Implementations/MauiVideoPlayer.cs
  src/Client/App/Views/NativeVideoViewer.xaml
  src/Client/App/Views/NativeVideoViewer.xaml.cs
  src/Client/CommunityToolkit.Maui.MediaElement/AppBuilderExtensions.shared.cs
  src/Client/CommunityToolkit.Maui.MediaElement/CommunityToolkit.Maui.MediaElement.csproj
  src/Client/CommunityToolkit.Maui.MediaElement/Converters/FileMediaSourceConverter.cs
  src/Client/CommunityToolkit.Maui.MediaElement/Converters/MediaSourceConverter.cs
  src/Client/CommunityToolkit.Maui.MediaElement/Dummy.cs
  src/Client/CommunityToolkit.Maui.MediaElement/Dummy2.cs
  src/Client/CommunityToolkit.Maui.MediaElement/EventArgs/MediaPositionEventArgs.cs
  src/Client/CommunityToolkit.Maui.MediaElement/EventArgs/SeekRequested.cs
  src/Client/CommunityToolkit.Maui.MediaElement/EventArgs/StateRequested.cs
  src/Client/CommunityToolkit.Maui.MediaElement/Handlers/MediaElementHandler.android.cs
  src/Client/CommunityToolkit.Maui.MediaElement/Handlers/MediaElementHandler.macios.cs
  src/Client/CommunityToolkit.Maui.MediaElement/Handlers/MediaElementHandler.net.cs
  src/Client/CommunityToolkit.Maui.MediaElement/Handlers/MediaElementHandler.shared.cs
  src/Client/CommunityToolkit.Maui.MediaElement/Handlers/MediaElementHandler.windows.cs
  src/Client/CommunityToolkit.Maui.MediaElement/Helpers/ObserverExtensions.macios.cs
  src/Client/CommunityToolkit.Maui.MediaElement/Interfaces/IMediaElement.cs
  src/Client/CommunityToolkit.Maui.MediaElement/MediaElement.shared.cs
  src/Client/CommunityToolkit.Maui.MediaElement/MediaElementState.cs
  src/Client/CommunityToolkit.Maui.MediaElement/MediaSource/FileMediaSource.shared.cs
  src/Client/CommunityToolkit.Maui.MediaElement/MediaSource/MediaSource.shared.cs
  src/Client/CommunityToolkit.Maui.MediaElement/MediaSource/StreamMediaSource.shared.cs
  src/Client/CommunityToolkit.Maui.MediaElement/MediaSource/UriMediaSource.shared.cs
  src/Client/CommunityToolkit.Maui.MediaElement/PlatformView/MauiMediaElement.android.cs
  src/Client/CommunityToolkit.Maui.MediaElement/PlatformView/MauiMediaElement.macios.cs
  src/Client/CommunityToolkit.Maui.MediaElement/PlatformView/MauiMediaElement.windows.cs
  src/Client/CommunityToolkit.Maui.MediaElement/PlatformView/MediaManager.android.cs
  src/Client/CommunityToolkit.Maui.MediaElement/PlatformView/MediaManager.macios.cs
  src/Client/CommunityToolkit.Maui.MediaElement/PlatformView/MediaManager.shared.cs
  src/Client/CommunityToolkit.Maui.MediaElement/PlatformView/MediaManager.windows.cs
  src/Client/CommunityToolkit.Maui.MediaElement/readme.txt
  src/Client/Shared/Components/Modal/FileViewerModal/FileViewer.razor.cs
  src/Client/Shared/Services/Contracts/INativeNavigation.cs
  src/Functionland.FxFiles.sln
Labels: area/perf 🏎️, area/VideoViewer 📺

#588 Feature/deep search multiselect ab#974
  src/Client/Shared/Components/FileBrowser/FileBrowser.razor
  src/Client/Shared/Components/FileBrowser/FileBrowser.razor.cs
  src/Client/Shared/Models/DeepSearchFilter.cs
  src/Client/Shared/Services/Implementations/FileService/LocalDeviceFileService.cs
Labels: platform/windows 🪟, platform/iOS 🍎, platform/macOS 🍏, platform/android 🤖, area/DeepSearch

#589 Fix Azure build errors ab#1409
  src/Client/App/Platforms/Windows/Implementations/MauiVideoPlayer.cs
Labels: area/VideoViewer 📺

#591 [WinUI] Add better colors to audio thumbnail ab#888
  src/Client/App/Platforms/Windows/Implementations/WindowsAudioThumbnailPlugin.cs
Labels: enhancement, platform/windows 🪟, area/thumbnails

#590 Code Cleanup ab#870
  src/Client/Shared/Components/Modal/FileViewerModal/FileViewer.razor
  src/Client/Shared/Components/Modal/FileViewerModal/FileViewer.razor.cs
  src/Client/Shared/Components/Modal/FileViewerModal/VideoViewer.razor
  src/Client/Shared/Components/Modal/FileViewerModal/VideoViewer.razor.cs
  src/Client/Shared/Components/Modal/FileViewerModal/VideoViewer.razor.scss
Labels: enhancement, area/VideoViewer 📺

#593 Merge hotfix/demo3 to main branch
  src/Client/App/Controls/FileVideoSource.cs
  src/Client/App/Controls/IVideoController.cs
  src/Client/App/Controls/PositionSlider.cs
  src/Client/App/Controls/ResourceVideoSource.cs
  src/Client/App/Controls/UriVideoSource.cs
  src/Client/App/Controls/Video.cs
  src/Client/App/Controls/VideoInfo.cs
  src/Client/App/Controls/VideoPositionEventArgs.cs
  src/Client/App/Controls/VideoSource.cs
  src/Client/App/Controls/VideoSourceConverter.cs
  src/Client/App/Controls/VideoStatus.cs
  src/Client/App/Functionland.FxFiles.Client.App.csproj
  src/Client/App/Handlers/VideoHandler.Android.cs
  src/Client/App/Handlers/VideoHandler.MaciOS.cs
  src/Client/App/Handlers/VideoHandler.Windows.cs
  src/Client/App/Handlers/VideoHandler.cs
  src/Client/App/Implementations/NativeNavigation.cs
  src/Client/App/MainPage.xaml.cs
  src/Client/App/MauiProgram.cs
  src/Client/App/Platforms/Android/Implementations/MauiVideoPlayer.cs
  src/Client/App/Platforms/MacCatalyst/Implementations/MauiVideoPlayer.cs
  src/Client/App/Platforms/Windows/Implementations/MauiVideoPlayer.cs
  src/Client/App/Platforms/iOS/Implementations/MauiVideoPlayer.cs
  src/Client/App/Views/NativeVideoViewer.xaml
  src/Client/App/Views/NativeVideoViewer.xaml.cs
  src/Client/CommunityToolkit.Maui.MediaElement/AppBuilderExtensions.shared.cs
  src/Client/CommunityToolkit.Maui.MediaElement/CommunityToolkit.Maui.MediaElement.csproj
  src/Client/CommunityToolkit.Maui.MediaElement/Converters/FileMediaSourceConverter.cs
  src/Client/CommunityToolkit.Maui.MediaElement/Converters/MediaSourceConverter.cs
  src/Client/CommunityToolkit.Maui.MediaElement/Dummy.cs
  src/Client/CommunityToolkit.Maui.MediaElement/Dummy2.cs
  src/Client/CommunityToolkit.Maui.MediaElement/EventArgs/MediaPositionEventArgs.cs
  src/Client/CommunityToolkit.Maui.MediaElement/EventArgs/SeekRequested.cs
  src/Client/CommunityToolkit.Maui.MediaElement/EventArgs/StateRequested.cs
  src/Client/CommunityToolkit.Maui.MediaElement/Handlers/MediaElementHandler.android.cs
  src/Client/CommunityToolkit.Maui.MediaElement/Handlers/MediaElementHandler.macios.cs
  src/Client/CommunityToolkit.Maui.MediaElement/Handlers/MediaElementHandler.net.cs
  src/Client/CommunityToolkit.Maui.MediaElement/Handlers/MediaElementHandler.shared.cs
  src/Client/CommunityToolkit.Maui.MediaElement/Handlers/MediaElementHandler.windows.cs
  src/Client/CommunityToolkit.Maui.MediaElement/Helpers/ObserverExtensions.macios.cs
  src/Client/CommunityToolkit.Maui.MediaElement/Interfaces/IMediaElement.cs
  src/Client/CommunityToolkit.Maui.MediaElement/MediaElement.shared.cs
  src/Client/CommunityToolkit.Maui.MediaElement/MediaElementState.cs
  src/Client/CommunityToolkit.Maui.MediaElement/MediaSource/FileMediaSource.shared.cs
  src/Client/CommunityToolkit.Maui.MediaElement/MediaSource/MediaSource.shared.cs
  src/Client/CommunityToolkit.Maui.MediaElement/MediaSource/StreamMediaSource.shared.cs
  src/Client/CommunityToolkit.Maui.MediaElement/MediaSource/UriMediaSource.shared.cs
  src/Client/CommunityToolkit.Maui.MediaElement/PlatformView/MauiMediaElement.android.cs
  src/Client/CommunityToolkit.Maui.MediaElement/PlatformView/MauiMediaElement.macios.cs
  src/Client/CommunityToolkit.Maui.MediaElement/PlatformView/MauiMediaElement.windows.cs
  src/Client/CommunityToolkit.Maui.MediaElement/PlatformView/MediaManager.android.cs
  src/Client/CommunityToolkit.Maui.MediaElement/PlatformView/MediaManager.macios.cs
  src/Client/CommunityToolkit.Maui.MediaElement/PlatformView/MediaManager.shared.cs
  src/Client/CommunityToolkit.Maui.MediaElement/PlatformView/MediaManager.windows.cs
  src/Client/CommunityToolkit.Maui.MediaElement/readme.txt
  src/Client/Shared/Components/Modal/FileViewerModal/FileViewer.razor.cs
  src/Client/Shared/Services/Contracts/INativeNavigation.cs
  src/Functionland.FxFiles.sln
Labels: area/perf 🏎️, area/VideoViewer 📺

#599 Merge hotfix/demo3 to main
  src/Client/App/Controls/FileVideoSource.cs
  src/Client/App/Controls/IVideoController.cs
  src/Client/App/Controls/PositionSlider.cs
  src/Client/App/Controls/ResourceVideoSource.cs
  src/Client/App/Controls/UriVideoSource.cs
  src/Client/App/Controls/Video.cs
  src/Client/App/Controls/VideoInfo.cs
  src/Client/App/Controls/VideoPositionEventArgs.cs
  src/Client/App/Controls/VideoSource.cs
  src/Client/App/Controls/VideoSourceConverter.cs
  src/Client/App/Controls/VideoStatus.cs
  src/Client/App/Functionland.FxFiles.Client.App.csproj
  src/Client/App/Handlers/VideoHandler.Android.cs
  src/Client/App/Handlers/VideoHandler.MaciOS.cs
  src/Client/App/Handlers/VideoHandler.Windows.cs
  src/Client/App/Handlers/VideoHandler.cs
  src/Client/App/Implementations/NativeNavigation.cs
  src/Client/App/MainPage.xaml.cs
  src/Client/App/MauiProgram.cs
  src/Client/App/Platforms/Android/Implementations/MauiVideoPlayer.cs
  src/Client/App/Platforms/Android/MainApplication.cs
  src/Client/App/Platforms/MacCatalyst/Implementations/MauiVideoPlayer.cs
  src/Client/App/Platforms/Windows/Implementations/MauiVideoPlayer.cs
  src/Client/App/Platforms/iOS/Implementations/MauiVideoPlayer.cs
  src/Client/App/Views/NativeVideoViewer.xaml
  src/Client/App/Views/NativeVideoViewer.xaml.cs
  src/Client/CommunityToolkit.Maui.MediaElement/AppBuilderExtensions.shared.cs
  src/Client/CommunityToolkit.Maui.MediaElement/CommunityToolkit.Maui.MediaElement.csproj
  src/Client/CommunityToolkit.Maui.MediaElement/Converters/FileMediaSourceConverter.cs
  src/Client/CommunityToolkit.Maui.MediaElement/Converters/MediaSourceConverter.cs
  src/Client/CommunityToolkit.Maui.MediaElement/Dummy.cs
  src/Client/CommunityToolkit.Maui.MediaElement/Dummy2.cs
  src/Client/CommunityToolkit.Maui.MediaElement/EventArgs/MediaPositionEventArgs.cs
  src/Client/CommunityToolkit.Maui.MediaElement/EventArgs/SeekRequested.cs
  src/Client/CommunityToolkit.Maui.MediaElement/EventArgs/StateRequested.cs
  src/Client/CommunityToolkit.Maui.MediaElement/Handlers/MediaElementHandler.android.cs
  src/Client/CommunityToolkit.Maui.MediaElement/Handlers/MediaElementHandler.macios.cs
  src/Client/CommunityToolkit.Maui.MediaElement/Handlers/MediaElementHandler.net.cs
  src/Client/CommunityToolkit.Maui.MediaElement/Handlers/MediaElementHandler.shared.cs
  src/Client/CommunityToolkit.Maui.MediaElement/Handlers/MediaElementHandler.windows.cs
  src/Client/CommunityToolkit.Maui.MediaElement/Helpers/ObserverExtensions.macios.cs
  src/Client/CommunityToolkit.Maui.MediaElement/Interfaces/IMediaElement.cs
  src/Client/CommunityToolkit.Maui.MediaElement/MediaElement.shared.cs
  src/Client/CommunityToolkit.Maui.MediaElement/MediaElementState.cs
  src/Client/CommunityToolkit.Maui.MediaElement/MediaSource/FileMediaSource.shared.cs
  src/Client/CommunityToolkit.Maui.MediaElement/MediaSource/MediaSource.shared.cs
  src/Client/CommunityToolkit.Maui.MediaElement/MediaSource/StreamMediaSource.shared.cs
  src/Client/CommunityToolkit.Maui.MediaElement/MediaSource/UriMediaSource.shared.cs
  src/Client/CommunityToolkit.Maui.MediaElement/PlatformView/MauiMediaElement.android.cs
  src/Client/CommunityToolkit.Maui.MediaElement/PlatformView/MauiMediaElement.macios.cs
  src/Client/CommunityToolkit.Maui.MediaElement/PlatformView/MauiMediaElement.windows.cs
  src/Client/CommunityToolkit.Maui.MediaElement/PlatformView/MediaManager.android.cs
  src/Client/CommunityToolkit.Maui.MediaElement/PlatformView/MediaManager.macios.cs
  src/Client/CommunityToolkit.Maui.MediaElement/PlatformView/MediaManager.shared.cs
  src/Client/CommunityToolkit.Maui.MediaElement/PlatformView/MediaManager.windows.cs
  src/Client/CommunityToolkit.Maui.MediaElement/readme.txt
  src/Client/Shared/Components/Modal/FileViewerModal/FileViewer.razor.cs
  src/Client/Shared/Services/Contracts/INativeNavigation.cs
  src/Functionland.FxFiles.sln
Labels: area/perf 🏎️, area/VideoViewer 📺

#600 Fix Azure build errors ab#888
  src/Client/App/Platforms/Android/MainApplication.cs
Labels: enhancement

#603 Fix video viewer time format ab#888
  src/Client/App/Implementations/NativeNavigation.cs
  src/Client/App/Views/Converters/TimeSpanToStringConverter.cs
  src/Client/App/Views/Converters/ValueConverter.cs
  src/Client/App/Views/NativeVideoViewer.xaml
  src/Client/App/Views/NativeVideoViewer.xaml.cs
  src/Client/Shared/Components/Modal/FileViewerModal/FileViewer.razor.cs
  src/Client/Shared/Services/Contracts/INativeNavigation.cs
Labels: area/VideoViewer 📺

#604 Keep Android's screen on in VideoViewer ab#888
  src/Client/CommunityToolkit.Maui.MediaElement/PlatformView/MediaManager.android.cs
Labels: platform/android 🤖, area/VideoViewer 📺

#608 Fix VideoViewer keeps playing on background ab#1166
  src/Client/App/App.xaml.cs
  src/Client/App/Views/NativeVideoViewer.xaml.cs
Labels: area/VideoViewer 📺

#611 Fix playing video on resuming the app ab#1166
  src/Client/App/App.xaml.cs
  src/Client/App/Implementations/NativeNavigation.cs
  src/Client/App/Views/NativeVideoViewer.xaml
  src/Client/App/Views/NativeVideoViewer.xaml.cs
  src/Client/Shared/Components/Modal/FileViewerModal/FileViewer.razor.cs
  src/Client/Shared/Services/Contracts/INativeNavigation.cs
Labels: area/modal, area/VideoViewer 📺

#592 Set thumbnail for all supported types in pin ab#1138
  src/Client/Shared/Components/FileBrowser/FileBrowser.razor
  src/Client/Shared/Components/FileCard.razor
  src/Client/Shared/Components/FileCard.razor.cs
Labels: area/pin, area/thumbnails

#620 Fix back button on evey modal ab#1433
  src/Client/Shared/Components/FileBrowser/FilterArtifactModal.razor.cs
  src/Client/Shared/Components/FileBrowser/SortArtifactModal.razor.cs
  src/Client/Shared/Components/Modal/ArtifactDetailModal/ArtifactDetailModal.razor.cs
  src/Client/Shared/Components/Modal/ArtifactOverflowModal/ArtifactOverflowModal.razor.cs
  src/Client/Shared/Components/Modal/ArtifactSelectionModal/ArtifactSelectionModal.razor.cs
  src/Client/Shared/Components/Modal/ConfirmationModal/ConfirmationModal.razor.cs
  src/Client/Shared/Components/Modal/ConfirmationReplaceOrSkipModal/ConfirmationReplaceOrSkipModal.razor.cs
  src/Client/Shared/Components/Modal/FileViewerModal/ExtractorBottomSheet.razor.cs
  src/Client/Shared/Components/Modal/FileViewerModal/FileViewer.razor.cs
  src/Client/Shared/Components/Modal/FileViewerModal/ImageViewer.razor.cs
  src/Client/Shared/Components/Modal/InputModal/InputModal.razor.cs
  src/Client/Shared/Services/Contracts/IGoBackService.cs
  src/Client/Shared/Services/Implementations/GoBackService.cs
Labels: area/modal

#616 Fix apk installer for OS ab#888
  src/Client/App/Implementations/LocalFileLancher.cs
  src/Client/App/Platforms/Android/Implementations/AndroidFileLancher.cs
  src/Client/App/Platforms/Android/MainApplication.cs
  src/Client/App/Platforms/MacCatalyst/Implementations/MacFileLauncher.cs
  src/Client/App/Platforms/Windows/Implementations/WindowsFileLauncher.cs
  src/Client/App/Platforms/iOS/Implementations/IosFileLauncher.cs
  src/Client/Shared/Components/FileBrowser/FileBrowser.razor.cs
  src/Client/Shared/Services/Contracts/IFileLancher.cs
Labels: platform/android 🤖

#622 Fix VideoViewer back button ab#888
  src/Client/Shared/Components/Modal/FileViewerModal/FileViewer.razor.cs
Labels: area/modal, area/VideoViewer 📺

#623 Save filter state ab#888
  src/Client/App/Implementations/LocalFileLancher.cs
  src/Client/App/Platforms/Android/Implementations/AndroidFileLancher.cs
  src/Client/App/Platforms/iOS/Implementations/IosFileLauncher.cs
  src/Client/Shared/Components/FileBrowser/FileBrowser.razor
  src/Client/Shared/Components/FileBrowser/FileBrowser.razor.cs
  src/Client/Shared/Services/Contracts/IAppStateStore.cs
  src/Client/Shared/Services/Implementations/InMemoryAppStateStore.cs
Labels: enhancement

#624 Add full screen support to ImageViewer ab#870
  src/Client/App/wwwroot/index.html
  src/Client/Shared/Components/Modal/FileViewerModal/ImageViewer.razor
  src/Client/Shared/Components/Modal/FileViewerModal/ImageViewer.razor.scss
  src/Client/Shared/wwwroot/lib/pinch-zoom/hammer.min.js
  src/Client/Shared/wwwroot/lib/pinch-zoom/pinch-zoom.umd.min.js
  src/Client/Shared/wwwroot/scripts/backToTop.js
Labels: enhancement, area/desktop 🖥️, area/ImageViewer 🖼️

#625 Fix Closing keyboard in search result ab#888
  src/Client/Shared/Components/DesignSystem/FxSearchInput.razor
  src/Client/Shared/Components/FileBrowser/FileBrowser.razor
  src/Client/Shared/Components/FileBrowser/FileBrowser.razor.cs
  src/Client/Shared/wwwroot/scripts/backToTop.js
Labels: platform/android 🤖, area/DeepSearch

#627 Fix crashing app after clicked on show in location ab#888
  src/Client/Shared/Components/ArtifactExplorer/ArtifactExplorer.razor.cs
  src/Client/Shared/Components/FileBrowser/FileBrowser.razor
  src/Client/Shared/Components/Modal/ArtifactSelectionModal/ArtifactSelectionModal.razor
Labels: bug, platform/windows 🪟, platform/android 🤖

#632 Add support for filtering zip and rar files ab#1320
  src/Client/Shared/Components/ArtifactExplorer/ArtifactExplorer.razor
  src/Client/Shared/Components/FileBrowser/FileBrowser.razor.cs
Labels: area/modal
